/* Home */
.home{
    margin-top: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./../../assets/img/test1.png");
    background-color: var(--white-color);
    height: 100%;
    width: 100%;
}

.home__container{
    height: calc(100vh - 3rem);
    width: 100%;
}


.home__title{
    align-self: center;
    font-size: var(--big-font-size);
    line-height: 1;
    letter-spacing: .5rem;
    margin-bottom: 4rem;
}

.home__title span{
    font-size: var(--h1-font-size);
}

.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 3rem;
    width:  260px;
}

/* BUTTON */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px){
    .home{
        padding-top: 1.5rem;
    }
    .home__container{
        height: 100vh;
    }

    .home__data{
        padding: 0;
        height: max-content;
        align-self: center;
    }

    .home__title{
        line-height: .8;
        letter-spacing: 1.5rem;
    }
    .home__img{
        width: 370px;
        padding-bottom: 0rem;
    }
}

@media screen and (min-width: 1024px){
    .home__data{
        padding-left: 7rem;
    }

    .home__img{
        right: 15%;
    }

    .news__grid{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}